extends ../layout/common

block content
	h3(class="mt-5 mb-3 text-center") User 
	form(action="/users/search" class="d-flex ")
		input(class="form-control" type="text" name="q" value = q)
		button(class="btn ml-3") Search
	table.table
		tr
			th Name
			th Phone
			th Action
		each user in users
			tr
				td= user.name
				td= user.phone 
				td 
					a.btn.btn-info(href="/users/"+user.id) View

