
html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="../css/main.css")
	body
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
			a(href="#" class="navbar-brand")
				img(src="/img/logo.png")
			button(class="navbar-toggler")
				span(class="navbar-toggler-icon")
			div( class="collapse navbar-collapse px-5" id="navbarText")
				ul(class="navbar-nav mr-auto ")
					li(class="nav-item active")
						a(href="/" class="nav-link") Trang chủ
					li(class="nav-item ")
						a(href="/users" class="nav-link") Users
					li(class="nav-item")
						a(href="/users/create" class="nav-link") Thêm mới

					li(class="nav-item")
						a(href="/products" class="nav-link") Products

					li(class="nav-item")
						a(href="#" class="nav-link") Cart 
							span= `(${sumCart})`

				//- if(su)

				//- each val, i in user.name
				//- 	li(style='color:#fff')= user[val]
	.container
		block content
